<mat-card class="card-main">
    <mat-card class="card">
        <mat-card-title>Informações do filme</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput name="name" placeholder="Nome" [(ngModel)]="movie.name">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="rate" placeholder="Nota" [(ngModel)]="movie.rate">
            </mat-form-field>
        </form>
    </mat-card>

    <mat-card class="card">
        <mat-card-title>Diretor(es)</mat-card-title>
        <table mat-table [dataSource]="movie.directors">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-title>Elenco principal</mat-card-title>
        <table mat-table [dataSource]="movie.actors">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>

    <button mat-raised-button (click)="update()" color="primary">
        Atualizar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>